*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: poppins,sans-serif;
}
body{
	background: #f9f9f9;
	min-height: 100vh;
	overflow-x: hidden;
	background: url("https://static.vecteezy.com/system/resources/previews/000/412/244/original/mental-health-and-disorder-illustration-vector.jpg") no-repeat;
	background-size: cover;
	
	background-position: center;

}
header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	z-index: 100;
	background: #fff;

}
.logo{
	font-size: 2em;
	color: #359381;
	pointer-events: none;
	margin-right: 290px;

}
.navigation a{
	text-decoration: none;
	color: #359381;
	padding: 6px 15px;
	border-radius: 20px;
	margin: 5 25px;
	font-weight: 750;

}
.navigation a:hover{
	background: #359381;
	color: #fff;
}